body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.map-title {
    left: 50%;
    transform: translateX(-50%);
    background-color: #73a4c5; /* Blue background color */
    color: #fff; /* White text color */
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1em;
}

#categoryButtonsContainer {
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}


#placeListContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2000;
}

#placeList {
    list-style-type: none;
    padding: 0;
}

#placeList li {
    margin-bottom: 8px;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-icon {
    font-size: 14px;
    padding: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-icon:hover {
    background-color: #f0f0f0;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
}

.search-container input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
    max-width: 500px;
}

.search-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 80%;
    max-width: 90px;
}

.search-container button:hover {
    background-color: #45a049;
}

.shortcuts-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.shortcuts-container button {
    padding: 8px 16px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.shortcuts-container button:hover {
    background-color: #286090;
}

#suggestedLocationsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: calc(78% - 7.8px); /* Adjust the width accordingly */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: block;
}

#suggestedLocationsList li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#suggestedLocationsList li:hover {
    background-color: #f5f5f5;
} 

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 65;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: #f5f5f5;
    padding-top: 60px; /* Adjust as needed to avoid overlap with navigation bar */
    z-index: 800;
}

.side-panel .close-btn {
    position: absolute;
    background-color: #337ab7;
    color: white;
    bottom: 65px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.side-panel .save-btn {
    position: absolute;
    background-color: #337ab7;
    color: white;
    bottom: 65px;
    left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.side-panel .close-btn:hover,
.side-panel .save-btn:hover {
    background-color: #286090;
}

.side-panel #sidePanelContent {
    padding: 20px;
}

.side-panel #sidePanelContent img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.custom-popup-container {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    width: 300px;
    left: 500px;
    top: 200px;
}

.custom-popup-content {
    padding: 10px;
}

.attraction-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.custom-popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

/* Style for positioning the modal */
.leaflet-map-popup.custom-popup {
    z-index: 1200; /* Ensure the modal is in front of other elements */
}

.attraction-box:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor on hover */
}

@media (max-width: 1200px) {
    .search-container {
        width: 70%;
    }

    .search-container input {
        width: 80%;
    }

    .search-container button {
        width: 100%;
    }

    .category-button {
        padding: 8px;
    }
}

@media (max-width: 992px) {
    .search-container {
        width: 60%;
    }

    .search-container input {
        width: 80%;
        margin-bottom: 10px;
    }

    .search-container button {
        width: 100%;
    }

    .category-button {
        padding: 6px;
    }
}

@media (max-width: 768px) {
    .search-container {
        width: 40%;
    }

    .search-container input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-container button {
        width: 100%;
    }

    .category-button {
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .search-container {
        width: 30%;
    }

    .search-container input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-container button {
        width: 60%;
    }

    @media (max-width: 375px) {
        .search-container {
            width: 20%;
        }
    
        .search-container input {
            width: 100%;
            margin-bottom: 10px;
        }
    
        .search-container button {
            width: 100%;
        }
    }
}
