body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    width: 800px; 
}

.search-container input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 650px; 
}

.search-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 120px; 
}

.search-container button:hover {
    background-color: #45a049;
}
